---
layout: page
---
<aside class="hero hero--docs-landing">
    <div class="grid-container">
        <div class="col--9">
            <div class="hero--docs-landing__content">
                <h1 class="h1 h1--white">
                    Blog
                </h1>
            </div>
        </div>
    </div>
</aside><!-- .hero -->
<div class="secondaryNav">
    <ul>
        <a href="{{ site.baseUrl }}/" class="active"><li>All</li></a>
        <a href="{{ root_url }}/categories/announcements/"><li>Announcements</li></a>
        <a href="{{ root_url }}/categories/learn/"><li>Learn</li></a>
        <a href="{{ root_url }}/categories/events/"><li>Events</li></a>
        <a href="{{ root_url }}/categories/customers/"><li>Customers</li></a>
        <a href="{{ root_url }}/categories/videos/"><li>Videos</li></a>
    </ul>
</div>
{{ content }}
