---
layout: page
---
<aside class="hero hero--docs-landing">
    <div class="grid-container">
        <div class="col--9">
            <div class="hero--docs-landing__content">
                <h1 class="h1 h1--white">
                    {% if page.pagination.category %}
                    {{ page.pagination.category }}
                    {% else %}
                    Blog
                    {% endif %}
                </h1>
            </div>
        </div>
    </div>
</aside><!-- .hero -->
<div class="secondaryNav">
    <ul>
        <a href="{{ site.baseUrl }}/" {% unless page.pagination.category %} class="active" {% endunless %}><li>All</li></a>
        <a href="{{ root_url }}/blog/categories/announcements" {% if page.pagination.category == "Announcements" %} class="active" {% endif %}><li>Announcements</li></a>
        <a href="{{ root_url }}/blog/categories/learn" {% if page.pagination.category == "Learn" %} class="active" {% endif %}><li>Learn</li></a>
        <a href="{{ root_url }}/blog/categories/events" {% if page.pagination.category == "Events" %} class="active" {% endif %}><li>Events</li></a>
        <a href="{{ root_url }}/blog/categories/customers" {% if page.pagination.category == "Customers" %} class="active" {% endif %}><li>Customers</li></a>
        <a href="{{ root_url }}/blog/categories/videos" {% if page.pagination.category == "Videos" %} class="active" {% endif %}><li>Videos</li></a>
    </ul>
</div>
<div class="container padding-top-40 padding-bottom-50" data-nav-waypoint>
    {% unless page.pagination.category %}
    <div class="copy-block margin-bottom-80">
        <h3 class="h3 h3--blue margin-bottom-10">Parse news.</h3>
        <p class="margin-top-10">Keep up to date with the latest Parse announcements, features and events.</p>
    </div>
    {% endunless %}
    <div class="posts">
        {% for post in paginator.posts %}
        <article class="margin-top-40 padding-bottom-40 post">
            <div>
                {% assign author = site.authors[post.author] %}
                {% assign postdate = post.date %}
                {% include posts/author.html %}
                <h1 class="margin-top-10 margin-bottom-10">
                    <a href="{{ root_url }}{{ post.url }}">
                        {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
                    </a>
                </h1>
                {% assign categories = post.categories %}
                {% include posts/categories.html %}
            </div>
            <div>
                {% assign content = post.content %}
                {% if post.content contains '<!-- more -->' %}
                {{ post.content | split:'<!-- more -->' | first }}
                {% else %}
                {{ post.excerpt }}
                {% endif %}
                <div><a href="{{ post.url }}" class="btn btn--outline">Read more</a></div>
            </div>
        </article>
        {% endfor %}
    </div>
    <div class="copy-block margin-top-40 paginator">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">Previous</a>
        {% endif %}
        <span class="page_number padding-left-20 padding-right-20">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="copy-block--triplet-blue">Older</a>
        {% endif %}
    </div>
</div>
