---
layout: page
---
<aside class="hero hero--docs-landing">
    <div class="grid-container">
        <div class="col--9">
            <div class="hero--docs-landing__content">
                {% assign author = site.authors[page.author] %}
                {% assign postdate = page.date %}
                {% include posts/author.html %}
                <h1 class="h1 h1--white">
                    {% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}
                </h1>
            </div>
        </div>
    </div>
</aside><!-- .hero -->
<div class="container padding-top-40 padding-bottom-50" data-nav-waypoint>
    <article role="article" class="posts">
        {% assign categories = page.categories %}
        {% include posts/categories.html %}
        <div class="padding-bottom-40 post">{{ content }}</div>
        <div class="copy-block margin-top-40 signature">
            <div>
                <span class="author">{{ author.name }}{% if author.byline %},</span> <span class="byline">{{ author.byline }}{% endif %}</span>
            </div>
            {% if author.github %}
            <div>
                <a href="https://github.com/{{ author.github }}">GitHub</a>
            </div>
            {% endif %}
            {% if author.twitter %}
            <div>
                <a href="https://twitter.com/{{ author.twitter }}">@{{author.twitter}}</a>
            </div>
            {% endif %}
            {% if author.site %}
            <div>
                <a href="{{ author.site }}">Site</a>
            </div>
            {% endif %}
        </div>
    </article>
</div>
