---
layout: page
---

{% assign author = site.authors[page.author] %}

<!-- Twitter cards metadata -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ParsePlatform">
<meta name="twitter:creator" content="@{{author.twitter}}">

{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}

{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}

{% if page.excerpt %}
  <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}

<!-- {% if page.header-img %}
  <meta name="twitter:image:src" content="{{ site.url }}/{{ page.header-img }}">
{% endif %} -->

<aside class="hero hero--docs-landing">
    <div class="grid-container">
        <div class="col--9">
            <div class="hero--docs-landing__content">
                {% assign postdate = page.date %}
                {% include posts/author.html %}
                <h1 class="h1 h1--white">
                    {% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}
                </h1>
            </div>
        </div>
    </div>
</aside><!-- .hero -->
<div class="container padding-top-40 padding-bottom-50" data-nav-waypoint>
    <article role="article" class="posts">
        {% assign categories = page.categories %}
        {% include posts/categories.html %}
        {% include posts/wp-compat.html %}
        <div class="padding-bottom-40 post">{{ content }}</div>
        <div class="copy-block margin-top-40 signature">
            <div>
                <span class="author">{{ author.name }}{% if author.byline %},</span> <span class="byline">{{ author.byline }}{% endif %}</span>
            </div>
            <div class="margin-top-20">
                {% if author.github %}
                <span class="margin-left-10 margin-right-10"><a href="https://github.com/{{ author.github }}">GitHub</a></span>
                {% endif %}
                {% if author.twitter %}
                <span class="margin-left-10 margin-right-10"><a href="https://twitter.com/{{ author.twitter }}">@{{author.twitter}}</a></span>
                {% endif %}
                {% if author.site %}
                <span class="margin-left-10 margin-right-10"><a href="{{ author.site }}">Site</a></span>
                {% endif %}
            </div>

            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="{{ page.title }} by @{{ author.twitter }}" data-via="ParsePlatform" data-hashtags="ParsePlatform" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>
    </article>
</div>
